* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  height: 100vh;
  --primary-color: #f2f0ef;
  --dimmed-color: rgba(128, 128, 128, 0.862);
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(148, 130, 130, 0.5), rgba(107, 100, 100, 0.5)),
    url("../assets/images/whatsapp-wallpaper.png");
  background-size: cover;
}

#root {
  height: 100%;
}

a {
  all: unset;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
