.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 45px;
}

.iphoneFront {
  width: 293px;
  height: 600px;
  background-color: #000;
  border-radius: 50px;
  position: relative;
}

.outer-frame,
.inner-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  box-shadow: 0 0 0 1px #3b3730;
}

.outer-frame {
  border: 2px solid #746b5c;
}

.inner-frame {
  border: 10px solid #000;
}

.keys .silent,
.keys .volume-top,
.keys .volume-bottom,
.keys .lock {
  position: absolute;
  width: 2px;
  background: linear-gradient(90deg, #474646, #555);
}

.keys .silent,
.keys .volume-top,
.keys .volume-bottom {
  left: -3px;
}

.silent {
  height: 25px;
  top: 105px;
}

.volume-top,
.volume-bottom {
  height: 50px;
}

.volume-top {
  top: 150px;
}

.volume-bottom {
  top: 210px;
}

.lock {
  height: 70px;
  top: 192px;
  right: -3px;
  background: linear-gradient(-90deg, #888, #555);
}
